$color-white: #fff;
$color-black: #000;
$color-lighter: #91fcbacc;
$color-lightgreen: #2abb62cc;
$color-darkgreen: #1a5e34cc;

// SERVICES

$color-lightred: #fff4f4;
$color-grey: #777777da;
$color-coral: #ff7f50;
$color-lightbrown: #fffff4cc;

$section-space: 8rem;